<div class="pagination">
    <span class="step-links">
        {% if page.has_previous %}
            {% if last_queryset %}
                <a class="btn-text" href="?page={{ last_queryset }}/{{ page.previous_page_number }}">Previous</a>
            {% else %}
                <a class="btn-text" href="?page={{ page.previous_page_number }}">Previous</a>
            {% endif %}
        {% endif %}
        <span class="text">
            Page {{ page.number }} of {{ page.paginator.num_pages }}
        </span>
        {% if page.has_next %}
            {% if last_queryset %}
                <a class="btn-text" href="?page={{ last_queryset }}/{{ page.next_page_number }}">Next</a>
            {% else %}
                <a class="btn-text" href="?page={{ page.next_page_number }}">Next</a>
            {% endif %}
        {% endif %}
    </span>
</div>
